﻿    <div class="jumbotron">
        <p class="lead">Hacker News Best Stories</p>
        <p>
    </div>
    <div ng-repeat="story in stories" class="row">
        <div class="col-md-2">{{story.by}}</div>
        <div class="col-md-7">{{story.title}}</div>
    </div>
